/* styles.css */
:root {
  --text-color: #d6bd98;
  --link-color: #d6bd98;
  --primary-color: #1a3636;
  --secondary-color: #40534c;
  --tertiary-color: #677d6a;
  --background-color: #222831;
  /*
  --text-color: #EEEEEE;
  --primary-color: #00ADB5;
  --tertiary-color: #393E46;
  --background-color: #222831;
  --link-color: #EEEEEE;
  --link-hover-color: #FFD369;
*/
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  align-content: center;
  margin-top: 1rem;
  text-align: center;
}
/* Body Styling */
body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header Styling */
.header {
  display: flex;
  position: relative;
  height: 100px;
  display: flex;
  padding: 0 1rem;
  background-color: var(--primary-color);
  color: white;
  z-index: 1;
}
.logo-link {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  left: 1rem;
}
.logo {
  width: 145px;
  height: 145px;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Navigation Styling */
.nav {
  margin-top: 1.5rem;
  margin-left: 200px;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
  font-size: 2rem;
  padding: 0.5rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
  color: var(--link-color);
}

/* Underline for Active Link */
.nav-link.active::after,
.nav-link:active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--tertiary-color);
}
.about-me {
  width: 50%;
  position: relative;
  margin: auto;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  padding: 2rem;
}
.blog-post {
  width: 60%;
  position: relative;
  margin: auto;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  padding: 2rem;
}
.blog-post img {
  width: 75%;
  height: auto;
}
